<div>
    <button
        class="w-1/8 px-5 py-3 m-4 text-center text-white transition duration-500 ease-in-out transform bg-blue-600 border border-white rounded-lg disabled:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300"
        [routerLink]="['/login']"
    >
        Go to login
    </button>
    <button class="w-1/8 px-5 py-3 m-4 text-center text-white transition duration-500 ease-in-out transform bg-blue-600 border border-white rounded-lg disabled:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" *ngIf="authService.isLoggedIn" (click)="authService.logout()">Logout</button>
    <div>Is user logged in: {{ authService.isLoggedIn }}</div>
    <div>User: {{ authService.user$ | async | json }}</div>
    <router-outlet></router-outlet>
</div>
